{%extends 'base.html'%}
{%block content%}
<div class="container">
    <h1>Welcome {{user.username}}</h1>
    <a href = "{%url 'newPost'%}">
        <buttton class="btn btn-primary">Add Post</buttton>
    </a>
    <hr>
    <div class="row">
        <div class="col-11">
            <div class="row">
                {%for post in posts%}
                <div class="col-md-8" style="border: light 2px;">
                    <div class="panel">
                        <img src="{{post.image.url}}" class="img-fluid">
                        <div class="row pl-4">
                            <a href=""><i class="fas fa-heart h2 fa-fw pr-3"></i></a>
                            <a href="{% url 'comment' post.id %}"><i class="fas fa-comment h2 fa-fw pr-3"></i></a>
                        </div>
                        <p><strong>{{post.profile}}</strong> {{post.imageCaption}}</p>
                    </div>
                </div>
                <div class="col-md-4">
        
                </div>
                {%endfor%}
            </div>

        </div>

        <div class="col-1">
            <h3>Suggestions</h3>
            <li>
                <a>
                    {%for prof in profile%}
                   <a href="">{{prof.user}}</a>
                    {%endfor%}
                </a>
            </li>


        </div>
    </div>

    {%endblock content%}